<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="assets/imgs/logo.svg" width="45" height="45" alt="logo" style="margin-left: 25%;">
    </a>
    <button #collapseBtn class="navbar-toggler" type="button" (click)="collapseNav()">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div #nav class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto" style="width: 90%;">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active-nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/company/search" routerLinkActive="active-nav-link">Search</a>
            </li>
            <li *ngIf="isLoggedin">
                <a class="nav-link" routerLink="/employee/resume" routerLinkActive="active-nav-link">Resume</a>
            </li>
        </ul>

        <span >
                <a *ngIf="!isLoggedin" class="pi-btn" routerLink="/register">Register</a>
        </span>
    </div>
</nav>