<p-toast position="bottom-right"></p-toast>
<app-navbar></app-navbar>
<div class="toolbar">
    <button class="pi-btn" icon="" (click)="save()">Save &nbsp;
        <i class="pi pi-save"></i>
    </button>
    <button class="pi-btn" (click)="share()">
        Share &nbsp; <i class="pi pi-share-alt"></i> </button>
    <a [routerLink]="'/v/r/' + data._id" target="_blank" class="pi-btn">
        Preview &nbsp; <i class="pi pi-image"></i> </a>
</div>
<section class="container resume">
    <div class="resume-wrapper">
        <div class="resume-pic-wrapper">
            <!-- <img class="resume-pic" src="assets/imgs/resume/resume-default-bg.jpg" alt="resume bg"> -->
        </div>
        <!--------------- Main header starts -------------->
        <div class="row resume-header">
            <div class="col-4 emp-photo-wrapper">
                <img *ngIf="!fromFrontAvatar" class="emp-photo"
                    [src]="data.photo? data.photo.url: 'assets/imgs/resume/resume-def-profile.svg'" alt="profile photo"
                    width="150">
                <img *ngIf="fromFrontAvatar" src="{{imageSrc}}" alt="avatar" width="150">
                <p-fileUpload mode="advanced" name="demo" accept="image/*" maxFileSize="1000000" customUpload="true"
                    (uploadHandler)="onAvatarUpload($event)" [auto]="true" chooseLabel="Change Photo"
                    chooseIcon=" pi pi-upload"></p-fileUpload>
            </div>
            <div class="col-6 col-md-4 main-info">
                <div class="name-wrapper">
                    <h2 class="name">
                        <input type="text" name="name" class="resume-input" [(ngModel)]="data.name">
                    </h2>
                </div>
                <div class="dev-title-wrapper">
                    <h4 class="dev-title">
                        <input type="text" name="title" class="resume-input" [(ngModel)]="data.title">
                    </h4>
                </div>
            </div>
        </div>
        <!--------------- Main header ends ----------------->

        <!--------------- content starts -------------->
        <div class="row resume-content">
            <!--------------- Main content starts -------------->
            <div class="col-9 resume-main-content">
                <div class="resume-summary">
                    <h3>Summary</h3>
                    <textarea pInputTextarea autoResize="autoResize" [(ngModel)]="data.summary"
                        style="width: 100%;"></textarea>
                </div>
                <hr>
                <div class="resume-availability">
                    <h3>Availability</h3>
                    <span> Available
                        <p-checkbox name="available" binary="true" [(ngModel)]="data.available"></p-checkbox>
                    </span>
                    <h6>Preferrable Work Type:
                        <p-autoComplete [(ngModel)]="data.workType" [suggestions]="workType"
                            (completeMethod)="searchWorkType($event)" [dropdown]="true" Placeholder="Work Type"
                            [multiple]="true" class="just-white" [inputStyle]="{'background': '#fff'}"></p-autoComplete>
                    </h6>
                    <h6>Minimum Salary:
                        <span style="width: 50px;">
                            <p-inputNumber [(ngModel)]="data.expectedPriceMin" [showButtons]="true"
                                buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="0.25"
                                decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success"
                                incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" mode="decimal">
                            </p-inputNumber>
                        </span>
                        <span>
                            <p-dropdown [options]="currency" [(ngModel)]="data.expectedPriceCurrency"
                                optionLabel="value" optionValue="value"
                                [panelStyle]="{'background': '#fff', 'margin-top': '-3px'}"
                                [style]="{'background': '#fff', 'width': '25%'}">
                            </p-dropdown>
                        </span>
                        per
                        <span>
                            <p-dropdown [options]="priceUnit" [(ngModel)]="data.expectedPriceUnit" optionLabel="value"
                                optionValue="value" [panelStyle]="{'background': '#fff', 'margin-top': '-3px'}"
                                [style]="{'background': '#fff', 'width': '25%'}">
                            </p-dropdown>
                        </span>
                    </h6>
                </div>
                <hr>
                <div class="resume-experience">
                    <h3>Employment History
                        <button (click)="displayEmpHistory('add')" class="btn btn-outline-secondary">Add</button>
                    </h3>
                    <span class="total-experience">Total Experience:
                        <p-inputNumber [(ngModel)]="data.totalExperience" [showButtons]="true" buttonLayout="horizontal"
                            inputId="horizontal" spinnerMode="horizontal" [step]="0.25"
                            decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success"
                            incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" mode="decimal">
                        </p-inputNumber> years
                    </span>
                    <div *ngFor="let emph of data.employmentHistory; index as i">
                        <h4 class="employment-header">{{emph.jobTitle}} ({{emph.Employer}}) {{emph.city}}
                            <button (click)="editEmpHistory(i)" class="btn btn-outline-secondary">Edit</button>
                            <button (click)="deleteEmpHistory(i)" class="btn btn-outline-danger">Delete</button>
                        </h4>
                        <div class="employment-date">{{emph.startDate| date}} - {{emph.endDate | date}}</div>
                        <div class="responsibilities">{{emph.description}}</div>
                    </div>
                </div>
                <hr>
                <div class="resume-edu">
                    <h3>Education
                        <button (click)="displayEdu()" class="btn btn-outline-secondary">Add</button>
                    </h3>
                    <div *ngFor="let edu of data.education; index as i">
                        <h4 class="employment-header">{{edu.Degree}}, {{edu.school}}, {{edu.city}}
                            <button (click)="editEdu(i)" class="btn btn-outline-secondary">Edit</button>
                            <button (click)="deleteEdu(i)" class="btn btn-outline-danger">Delete</button>
                        </h4>
                        <div class="employment-date">{{edu.startDate | date}} - {{edu.endDate | date}}</div>
                        <p>{{edu.description}}</p>
                    </div>
                </div>
                <hr>
                <div class="resume-courses">
                    <h3>Licenses & certifications
                        <button (click)="displayCourse()" class="btn btn-outline-secondary">Add</button>
                    </h3>
                    <div *ngFor="let c of data.courses; index as i">
                        <h4 class="employment-header">
                            <a href="{{c.link}}" target="_blank"> {{c.name}} ({{c.institution}})</a>
                            <button (click)="editCourse(i)" class="btn btn-outline-secondary">Edit</button>
                            <button (click)="deleteCourse(i)" class="btn btn-outline-danger">Delete</button>
                        </h4>
                        <div class="employment-date">{{c.startDate | date}} - {{c.endDate | date}}</div>
                        <div class="responsibilities">{{c.description}}</div>
                    </div>
                </div>
                <hr>
                <div class="resume-projects">
                    <h3>Projects
                        <button (click)="displayProject()" class="btn btn-outline-secondary">Add</button>
                    </h3>
                    <div *ngFor="let p of data.projects; index as i">
                        <h4 class="employment-header"><a href="{{p.link}}" target="_blank"> {{p.title}}</a>
                            <button (click)="editProject(i)" class="btn btn-outline-secondary">Edit</button>
                            <button (click)="deleteProject(i)" class="btn btn-outline-danger">Delete</button>
                        </h4>
                        <div class="employment-date">{{p.startDate | date}} - {{p.endDate | date}}</div>
                        <div class="responsibilities">{{p.description}}</div>
                    </div>
                </div>
                <hr>
                <div class="resume-references">
                    <h3>References
                        <button (click)="displayRef()" class="btn btn-outline-secondary">Add</button>
                    </h3>
                    <div *ngFor="let ref of data.references; index as i">
                        <h4 class="employment-header">{{ref.name}} ({{ref.company}})
                            <button (click)="editRef(i)" class="btn btn-outline-secondary">Edit</button>
                            <button (click)="deleteRef(i)" class="btn btn-outline-danger">Delete</button>
                        </h4>
                        <div class="employment-date">{{ref.email}} {{ref.phone}}</div>
                    </div>
                </div>
            </div>
            <!--------------- Main content ends -------------->

            <!--------------- Side content starts -------------->
            <div class="col-3 resume-side-content">
                <h4>Details</h4>
                <div class="resume-address">
                    <img src="assets/imgs/resume/map-pin.svg" alt="map pin" width="25">
                    <input type="text" name="address" class="resume-input-side" [(ngModel)]="data.address"
                        placeholder="Address">,
                    <p-autoComplete [(ngModel)]="data.city" [suggestions]="cities"
                        (completeMethod)="searchCities($event)" [dropdown]="true" Placeholder="City"
                        styleClass="resume-input-side"></p-autoComplete>
                </div>
                <div class="resume-phone">
                    <img src="assets/imgs/resume/phone.svg" alt="phone" width="25">
                    <input type="tel" name="phone" class="resume-input-side" [(ngModel)]="data.phone"
                        placeholder="Phone">
                </div>
                <div class="resume-mail">
                    <img src="assets/imgs/resume/mail-message-new.svg" alt="mail" width="25">
                    <input type="email" name="email" class="resume-input-side" [(ngModel)]="data.email"
                        placeholder="E-mail">
                </div>
                <hr />
                <div class="resume-nationality">
                    <img src="assets/imgs/resume/flag.svg" alt="mail" width="25">
                    <p-autoComplete [(ngModel)]="data.nationality" [suggestions]="nationalities"
                        (completeMethod)="searchNationalities($event)" [dropdown]="true" Placeholder="Nationality"
                        styleClass="resume-input-side"></p-autoComplete>
                </div>
                <div class="resume-gender">
                    <img src="assets/imgs/resume/gender.svg" alt="gender" width="25">
                    <p-dropdown [options]="gender" [(ngModel)]="data.gender" optionLabel="value" optionValue="value">
                    </p-dropdown>
                </div>
                <div class="resume-army-service" *ngIf="data.gender == 'Male'">
                    <img src="assets/imgs/resume/army-s.svg" alt="army-service" width="30" style="margin-left: -2%;">
                    <p-autoComplete [(ngModel)]="data.armyServiceStatus" [suggestions]="armyService"
                        (completeMethod)="searchArmyService($event)" [dropdown]="true" Placeholder="Army Service Status"
                        styleClass="resume-input-side"></p-autoComplete>
                </div>
                <div class="resume-birth">
                    <img src="assets/imgs/resume/owl-party.svg" alt="birth" width="25" style="margin-top: -10px;">
                    <p-calendar [(ngModel)]="data.birthDate" [monthNavigator]="true" [yearNavigator]="true"
                        yearRange="1950:2030" inputId="navigators" [showIcon]="true"></p-calendar>
                </div>

                <hr>
                <div class="resume-links">
                    <h4>Links
                        <button (click)="displayLink()" class="btn btn-outline-secondary">Add</button>
                    </h4>
                    <div *ngFor="let link of data.links; index as i">
                        <a href="{{link.value}}">{{link.label}}</a>
                        <button (click)="editLink(i)" class="btn btn-outline-secondary">Edit</button>
                        <button (click)="deleteLink(i)" class="btn btn-outline-danger">Delete</button>
                    </div>
                </div>
                <hr>
                <div class="resume-skills">
                    <h4>Skills
                        <button (click)="displaySkill()" class="btn btn-outline-secondary">Add</button>
                    </h4>
                    <div *ngFor="let skill of data.skills; index as i">
                        <label>{{skill.value}}
                            <button (click)="editSkill(i)" class="btn btn-outline-secondary">Edit</button>
                            <button (click)="deleteSkill(i)" class="btn btn-outline-danger">Delete</button>
                        </label>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" [style.width.%]="skill.expertLevelValue">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="resume-langs">
                    <h4>Languages
                        <button (click)="displayLang()" class="btn btn-outline-secondary">Add</button>
                    </h4>
                    <div *ngFor="let lang of data.languages; index as i">
                        <label for="">{{lang.value}}
                            <button (click)="editLang(i)" class="btn btn-outline-secondary">Edit</button>
                            <button (click)="deleteLang(i)" class="btn btn-outline-danger">Delete</button>
                        </label>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" [style.width.%]="lang.expertValue"></div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="resume-hobbies">
                    <h3>Hobbies</h3>
                    <span>
                        <input type="text" name="hobbies" class="resume-input-side" [(ngModel)]="data.hobbies"
                            placeholder="Hobbies">
                    </span>
                </div>
            </div>
            <!--------------- Side content ends -------------->
        </div>
        <!--------------- content ends -------------->
    </div>
</section>


<app-footer></app-footer>

<p-dialog header="Employee History" [(visible)]="empHistoryDialog" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="input-group mb-3">
        <label for="jobTitle">Job Title</label>
        <input pInputText type="text" name="address" [(ngModel)]="tempEmpHistomry.jobTitle"
            placeholder="Job Title/ Position" style="width: 100%;">
    </div>
    <div class="input-group mb-3">
        <label for="employer">Employer</label>
        <input pInputText type="text" name="address" [(ngModel)]="tempEmpHistomry.Employer" placeholder="Employer"
            style="width: 100%;">
    </div>
    <div class="input-group mb-3">
        <label for="startDate">Start Date</label>
        <span style="width: 100%;">
            <p-calendar [(ngModel)]="tempEmpHistomry.startDate" [monthNavigator]="true" [yearNavigator]="true"
                yearRange="1950:2030" inputId="startDate" [showIcon]="true" appendTo="body"
                [inputStyle]="{'background': '#fff', 'color': '#232323'}">
            </p-calendar>
        </span>
    </div>
    <div class="input-group mb-3">
        <label for="endDate">End Date</label>
        <span style="width: 100%;">
            <p-calendar [(ngModel)]="tempEmpHistomry.endDate" [monthNavigator]="true" [yearNavigator]="true"
                yearRange="1950:2030" inputId="endDate" [showIcon]="true" appendTo="body"
                [inputStyle]="{'background': '#fff', 'color': '#232323'}">
            </p-calendar>
        </span>
    </div>
    <div class="input-group mb-3">
        <label for="city">City</label>
        <span style="width: 100%;">
            <p-autoComplete [(ngModel)]="tempEmpHistomry.city" [suggestions]="cities"
                (completeMethod)="searchCities($event)" [dropdown]="true" Placeholder="City" appendTo="body"
                [inputStyle]="{'background': '#fff', 'color': '#232323'}">
            </p-autoComplete>
        </span>
    </div>
    <div class="input-group mb-3">
        <textarea pInputTextarea autoResize="autoResize" [(ngModel)]="tempEmpHistomry.description"
            style="width: 100%;"></textarea>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="cancelEmpHistory()" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" (click)="addEmpHistory()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>


<p-dialog header="Education" [(visible)]="eduDialog" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <div class="input-group mb-3">
        <label for="school">School</label>
        <input pInputText type="text" name="school" [(ngModel)]="tempEdu.school" placeholder="School"
            style="width: 100%;">
    </div>
    <div class="input-group mb-3">
        <label for="Degree">Degree</label>
        <input pInputText type="text" name="Degree" [(ngModel)]="tempEdu.Degree" placeholder="Degree"
            style="width: 100%;">
    </div>
    <div class="input-group mb-3">
        <label for="startDate">Start Date</label>
        <span style="width: 100%;">
            <p-calendar [(ngModel)]="tempEdu.startDate" [monthNavigator]="true" [yearNavigator]="true"
                yearRange="1950:2030" inputId="startDate" [showIcon]="true" appendTo="body"
                [inputStyle]="{'background': '#fff', 'color': '#232323'}">
            </p-calendar>
        </span>
    </div>
    <div class="input-group mb-3">
        <label for="endDate">End Date</label>
        <span style="width: 100%;">
            <p-calendar [(ngModel)]="tempEdu.endDate" [monthNavigator]="true" [yearNavigator]="true"
                yearRange="1950:2030" inputId="endDate" [showIcon]="true" appendTo="body"
                [inputStyle]="{'background': '#fff', 'color': '#232323'}">
            </p-calendar>
        </span>
    </div>
    <div class="input-group mb-3">
        <label for="city">City</label>
        <span style="width: 100%;">
            <p-autoComplete [(ngModel)]="tempEdu.city" [suggestions]="cities" (completeMethod)="searchCities($event)"
                [dropdown]="true" Placeholder="City" appendTo="body"
                [inputStyle]="{'background': '#fff', 'color': '#232323'}">
            </p-autoComplete>
        </span>
    </div>
    <div class="input-group mb-3">
        <textarea pInputTextarea rows="5" autoResize="autoResize" [(ngModel)]="tempEdu.description"
            style="width: 100%;"></textarea>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="cancelEdu()" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" (click)="addEdu()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>


<p-dialog header="Licenses & certifications" [(visible)]="courseDialog" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="input-group mb-3">
        <label for="name">Name/ Title</label>
        <input pInputText type="text" name="name" [(ngModel)]="tempCourse.name" placeholder="Name/ Title"
            style="width: 100%;">
    </div>
    <div class="input-group mb-3">
        <label for="institution">Institution</label>
        <input pInputText type="text" name="institution" [(ngModel)]="tempCourse.institution" placeholder="Institution"
            style="width: 100%;">
    </div>
    <div class="input-group mb-3">
        <label for="link">Link</label>
        <input pInputText type="text" name="link" [(ngModel)]="tempCourse.link" placeholder="Link" style="width: 100%;">
    </div>
    <div class="input-group mb-3">
        <label for="startDate">Start Date</label>
        <span style="width: 100%;">
            <p-calendar [(ngModel)]="tempCourse.startDate" [monthNavigator]="true" [yearNavigator]="true"
                yearRange="1950:2030" inputId="startDate" [showIcon]="true" appendTo="body"
                [inputStyle]="{'background': '#fff', 'color': '#232323'}">
            </p-calendar>
        </span>
    </div>
    <div class="input-group mb-3">
        <label for="endDate">End Date</label>
        <span style="width: 100%;">
            <p-calendar [(ngModel)]="tempCourse.endDate" [monthNavigator]="true" [yearNavigator]="true"
                yearRange="1950:2030" inputId="endDate" [showIcon]="true" appendTo="body"
                [inputStyle]="{'background': '#fff', 'color': '#232323'}">
            </p-calendar>
        </span>
    </div>
    <div class="input-group mb-3">
        <textarea pInputTextarea rows="5" autoResize="autoResize" [(ngModel)]="tempCourse.description"
            style="width: 100%;"></textarea>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="cancelCourse()" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" (click)="addCourse()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<p-dialog header="Project" [(visible)]="projectDialog" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <div class="input-group mb-3">
        <label for="title">Name/ Title</label>
        <input pInputText type="text" name="title" [(ngModel)]="tempProject.title" placeholder="Name/ Title"
            style="width: 100%;">
    </div>
    <div class="input-group mb-3">
        <label for="link">Link</label>
        <input pInputText type="text" name="link" [(ngModel)]="tempProject.link" placeholder="Link"
            style="width: 100%;">
    </div>
    <div class="input-group mb-3">
        <label for="startDate">Start Date</label>
        <span style="width: 100%;">
            <p-calendar [(ngModel)]="tempProject.startDate" [monthNavigator]="true" [yearNavigator]="true"
                yearRange="1950:2030" inputId="startDate" [showIcon]="true" appendTo="body"
                [inputStyle]="{'background': '#fff', 'color': '#232323'}">
            </p-calendar>
        </span>
    </div>
    <div class="input-group mb-3">
        <label for="endDate">End Date</label>
        <span style="width: 100%;">
            <p-calendar [(ngModel)]="tempProject.endDate" [monthNavigator]="true" [yearNavigator]="true"
                yearRange="1950:2030" inputId="endDate" [showIcon]="true" appendTo="body"
                [inputStyle]="{'background': '#fff', 'color': '#232323'}">
            </p-calendar>
        </span>
    </div>
    <div class="input-group mb-3">
        <textarea pInputTextarea rows="5" autoResize="autoResize" [(ngModel)]="tempProject.description"
            style="width: 100%;"></textarea>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="cancelProject()" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" (click)="addProject()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<p-dialog header="Reference" [(visible)]="refDialog" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <div class="input-group mb-3">
        <label for="name">Name</label>
        <input pInputText type="text" name="name" [(ngModel)]="tempRef.name" placeholder="Name" style="width: 100%;">
    </div>
    <div class="input-group mb-3">
        <label for="company">Company</label>
        <input pInputText type="text" name="company" [(ngModel)]="tempRef.company" placeholder="company"
            style="width: 100%;">
    </div>
    <div class="input-group mb-3">
        <label for="email">E-mail</label>
        <input pInputText type="email" name="email" [(ngModel)]="tempRef.email" placeholder="E-mail"
            style="width: 100%;">
    </div>
    <div class="input-group mb-3">
        <label for="phone">Phone</label>
        <input pInputText type="tel" name="phone" [(ngModel)]="tempRef.phone" placeholder="Phone" style="width: 100%;">
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="cancelRef()" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" (click)="addRef()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<p-dialog header="Link" [(visible)]="linkDialog" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <div class="input-group mb-3">
        <label for="label">Label</label>
        <input pInputText type="text" name="label" [(ngModel)]="tempLink.label" placeholder="Label"
            style="width: 100%;">
    </div>
    <div class="input-group mb-3">
        <label for="value">Value</label>
        <input pInputText type="text" name="value" [(ngModel)]="tempLink.value" placeholder="Value"
            style="width: 100%;">
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="cancelLink()" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" (click)="addLink()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>


<p-dialog header="Skill" [(visible)]="skillDialog" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <div class="input-group mb-3">
        <label for="skill">Skill</label>
        <span style="width: 100%;">
            <p-autoComplete [(ngModel)]="tempSkill.value" [suggestions]="skills" (completeMethod)="searchSkills($event)"
                [dropdown]="true" Placeholder="Skill" appendTo="body"
                [inputStyle]="{'background': '#fff', 'color': '#232323'}">
            </p-autoComplete>
        </span>
    </div>
    <p-dropdown [options]="expertLevels" [(ngModel)]="tempSkill.expertLevel" optionLabel="value" optionValue="value"
        [panelStyle]="{'background': '#fff', 'margin-top': '-3px'}" [style]="{'background': '#fff', 'width': '25%'}"
        appendTo="body">
    </p-dropdown>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="cancelSkill()" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" (click)="addSkill()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>


<p-dialog header="Language" [(visible)]="langDialog" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <div class="input-group mb-3">
        <label for="lang">Language</label>
        <span style="width: 100%;">
            <p-autoComplete [(ngModel)]="tempLang.value" [suggestions]="languages"
                (completeMethod)="searchLangs($event)" [dropdown]="true" Placeholder="Language" appendTo="body"
                [inputStyle]="{'background': '#fff', 'color': '#232323'}">
            </p-autoComplete>
        </span>
    </div>
    <p-dropdown [options]="langLevels" [(ngModel)]="tempLang.level" optionLabel="label" optionValue="value"
        [panelStyle]="{'background': '#fff', 'margin-top': '-3px'}" [style]="{'background': '#fff', 'width': '25%'}"
        appendTo="body">
    </p-dropdown>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="cancelLang()" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" (click)="addLang()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>


<p-dialog header="Share Link" [(visible)]="shareDialog" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <div class="input-group mb-3">
        <input pInputText type="text" name="label" [value]="frontDomain + 'v/r/' + data._id" placeholder="Label"
            style="width: 100%;" #sharableLink>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="cancelShare()" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" (click)="copyLink(sharableLink)" label="Copy To Clipboard"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>