<p-toast position="bottom-right"></p-toast>
<app-navbar></app-navbar>
<div class="toolbar">
    <button class="pi-btn" (click)="save()">Save</button>
</div>
<section class="container resume">
    <div class="resume-wrapper">
        <div class="resume-pic-wrapper">
            <!-- <img class="resume-pic" src="assets/imgs/resume/resume-default-bg.jpg" alt="resume bg"> -->
        </div>
        <!--------------- Main header starts -------------->
        <div class="row resume-header">
            <div class="col-4 emp-photo-wrapper">
                <img class="emp-photo" src="assets/imgs/resume/resume-def-profile.svg" alt="profile photo" width="150">
            </div>
            <div class="col-6 col-md-4 main-info">
                <div class="name-wrapper">
                    <h2 class="name">
                        <input type="text" name="name" class="resume-input" [(ngModel)]="data.name">
                    </h2>
                </div>
                <div class="dev-title-wrapper">
                    <h4 class="dev-title">
                        <input type="text" name="title" class="resume-input" [(ngModel)]="data.title">
                    </h4>
                </div>
            </div>
        </div>
        <!--------------- Main header ends ----------------->

        <!--------------- content starts -------------->
        <div class="row resume-content">
            <!--------------- Main content starts -------------->
            <div class="col-9 resume-main-content">
                <div class="resume-summary">
                    <h3>Summary</h3>
                    <textarea pInputTextarea autoResize="autoResize" [(ngModel)]="data.summary"
                        style="width: 100%;"></textarea>
                </div>
                <hr>
                <div class="resume-availability">
                    <h3>Availability</h3>
                    <span> Available
                        <p-checkbox name="available" binary="true" [(ngModel)]="data.available"></p-checkbox>
                    </span>
                    <h6>Preferrable Work Type: 
                        <p-autoComplete [(ngModel)]="data.workType" [suggestions]="workType"
                        (completeMethod)="searchWorkType($event)" [dropdown]="true" Placeholder="Work Type"
                        [multiple]="true" class="just-white"></p-autoComplete>
                    </h6>
                    <h6>Minimum Salary: 1SYP for HOUR</h6>
                </div>
                <hr>
                <div class="resume-experience">
                    <h3>Employment History</h3>
                    <span class="total-experience">Total: 4 years</span>
                    <div>
                        <h4 class="employment-header">jobTitle (Employer) city</h4>
                        <div class="employment-date">startDate-endDate</div>
                        <div class="responsibilities">Boy favourable day can introduced sentiments entreaties. Noisier
                            carried of in warrant because. So mr plate seems cause chief widen first. Two differed
                            husbands
                            met screened his. Bed was form wife out ask draw. Wholly coming at we no enable. Offending
                            sir
                            delivered questions now new met. Acceptance she interested new boisterous day discretion
                            celebrated.</div>
                    </div>
                    <div>
                        <h4 class="employment-header">jobTitle (Employer) city</h4>
                        <div class="employment-date">startDate-endDate</div>
                        <div class="responsibilities">Boy favourable day can introduced sentiments entreaties. Noisier
                            carried of in warrant because. So mr plate seems cause chief widen first. Two differed
                            husbands
                            met screened his. Bed was form wife out ask draw. Wholly coming at we no enable. Offending
                            sir
                            delivered questions now new met. Acceptance she interested new boisterous day discretion
                            celebrated.</div>
                    </div>
                    <div>
                        <h4 class="employment-header">jobTitle (Employer) city</h4>
                        <div class="employment-date">startDate-endDate</div>
                        <div class="responsibilities">Boy favourable day can introduced sentiments entreaties. Noisier
                            carried of in warrant because. So mr plate seems cause chief widen first. Two differed
                            husbands
                            met screened his. Bed was form wife out ask draw. Wholly coming at we no enable. Offending
                            sir
                            delivered questions now new met. Acceptance she interested new boisterous day discretion
                            celebrated.</div>
                    </div>

                </div>
                <hr>
                <div class="resume-edu">
                    <h3>Education</h3>
                    <div>
                        <h4 class="employment-header">Degree, school, city</h4>
                        <div class="employment-date">startDate - endDate</div>
                        <p>description: answer oppose to ye months no esteem. Branched is on an ecstatic directly it.
                            Put
                            off continue you
                            denoting returned juvenile. Looked </p>
                    </div>
                    <div>
                        <h4 class="employment-header">Degree, school, city</h4>
                        <div class="employment-date">startDate - endDate</div>
                        <p>description: answer oppose to ye months no esteem. Branched is on an ecstatic directly it.
                            Put
                            off continue you
                            denoting returned juvenile. Looked </p>
                    </div>
                </div>
                <hr>
                <div class="resume-courses">
                    <h3>Licenses & certifications</h3>
                    <div>
                        <h4 class="employment-header"><a href="#"> name (institution)</a></h4>
                        <div class="employment-date">startDate-endDate</div>
                        <div class="responsibilities">description: Boy favourable day can introduced sentiments
                            entreaties. Noisier
                            carried of in warrant because. So mr plate seems cause chief widen first. Two differed
                            husbands
                            met screened his. Bed was form wife out ask draw. Wholly coming at we no enable. Offending
                            sir
                            delivered questions now new met. Acceptance she interested new boisterous day discretion
                            celebrated.</div>
                    </div>
                    <div>
                        <h4 class="employment-header"><a href="#"> name (institution)</a></h4>
                        <div class="employment-date">startDate-endDate</div>
                        <div class="responsibilities">description: Boy favourable day can introduced sentiments
                            entreaties. Noisier
                            carried of in warrant because. So mr plate seems cause chief widen first. Two differed
                            husbands
                            met screened his. Bed was form wife out ask draw. Wholly coming at we no enable. Offending
                            sir
                            delivered questions now new met. Acceptance she interested new boisterous day discretion
                            celebrated.</div>
                    </div>
                </div>
                <hr>
                <div class="resume-projects">
                    <h3>Projects</h3>
                    <div>
                        <h4 class="employment-header"><a href="#"> title</a></h4>
                        <div class="employment-date">startDate-endDate</div>
                        <div class="responsibilities">description: Boy favourable day can introduced sentiments
                            entreaties. Noisier
                            carried of in warrant because. So mr plate seems cause chief widen first. Two differed
                            husbands
                            met screened his. Bed was form wife out ask draw. Wholly coming at we no enable. Offending
                            sir
                            delivered questions now new met. Acceptance she interested new boisterous day discretion
                            celebrated.</div>
                    </div>
                    <div>
                        <h4 class="employment-header"><a href="#"> title </a></h4>
                        <div class="employment-date">startDate-endDate</div>
                        <div class="responsibilities">description: Boy favourable day can introduced sentiments
                            entreaties. Noisier
                            carried of in warrant because. So mr plate seems cause chief widen first. Two differed
                            husbands
                            met screened his. Bed was form wife out ask draw. Wholly coming at we no enable. Offending
                            sir
                            delivered questions now new met. Acceptance she interested new boisterous day discretion
                            celebrated.</div>
                    </div>
                </div>
                <hr>
                <div class="resume-references">
                    <h3>References</h3>
                    <div>
                        <h4 class="employment-header">name (company)</h4>
                        <div class="employment-date">mail@host.domain - +963-123454657</div>
                    </div>
                    <div>
                        <h4 class="employment-header">name (company)</h4>
                        <div class="employment-date">mail@host.domain - +963-123454657</div>
                    </div>
                </div>
            </div>
            <!--------------- Main content ends -------------->

            <!--------------- Side content starts -------------->
            <div class="col-3 resume-side-content">
                <h4>Details</h4>
                <div class="resume-address">
                    <img src="assets/imgs/resume/map-pin.svg" alt="map pin" width="25">
                    <input type="text" name="address" class="resume-input-side" [(ngModel)]="data.address"
                        placeholder="Address">,
                    <p-autoComplete [(ngModel)]="data.city" [suggestions]="cities"
                        (completeMethod)="searchCities($event)" [dropdown]="true" Placeholder="City"
                        styleClass="resume-input-side"></p-autoComplete>
                </div>
                <div class="resume-phone">
                    <img src="assets/imgs/resume/phone.svg" alt="phone" width="25">
                    <input type="tel" name="phone" class="resume-input-side" [(ngModel)]="data.phone"
                        placeholder="Phone">
                </div>
                <div class="resume-mail">
                    <img src="assets/imgs/resume/mail-message-new.svg" alt="mail" width="25">
                    <input type="email" name="email" class="resume-input-side" [(ngModel)]="data.email"
                        placeholder="E-mail">
                </div>
                <hr />
                <div class="resume-nationality">
                    <img src="assets/imgs/resume/flag.svg" alt="mail" width="25">
                    <p-autoComplete [(ngModel)]="data.nationality" [suggestions]="nationalities"
                        (completeMethod)="searchNationalities($event)" [dropdown]="true" Placeholder="Nationality"
                        styleClass="resume-input-side"></p-autoComplete>
                </div>
                <div class="resume-gender">
                    <img src="assets/imgs/resume/gender.svg" alt="gender" width="25">
                    <p-dropdown [options]="gender" [(ngModel)]="data.gender" optionLabel="value" optionValue="value">
                    </p-dropdown>
                </div>
                <div class="resume-army-service" *ngIf="data.gender == 'Male'">
                    <img src="assets/imgs/resume/army-s.svg" alt="army-service" width="30" style="margin-left: -2%;">
                    <p-autoComplete [(ngModel)]="data.armyServiceStatus" [suggestions]="armyService"
                        (completeMethod)="searchArmyService($event)" [dropdown]="true" Placeholder="Army Service Status"
                        styleClass="resume-input-side"></p-autoComplete>
                </div>
                <div class="resume-birth">
                    <img src="assets/imgs/resume/owl-party.svg" alt="birth" width="25" style="margin-top: -10px;">
                    <p-calendar [(ngModel)]="data.birthDate" [monthNavigator]="true" [yearNavigator]="true"
                        yearRange="1950:2030" inputId="navigators" [showIcon]="true"></p-calendar>
                </div>

                <hr>
                <div class="resume-links">
                    <h4>Links</h4>
                    <a href="#">Github</a>
                    <br>
                    <a href="#">Personal Website</a>
                    <br>
                    <a href="#">Linkedin</a>
                </div>
                <hr>
                <div class="resume-skills">
                    <h4>Skils</h4>
                    <label for="">HTML, CSS</label>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" style="width: 90%"></div>
                    </div>
                    <label for="">JavaScript</label>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" style="width: 80%"></div>
                    </div>
                    <label for="">TypeScript</label>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" style="width: 80%"></div>
                    </div>
                    <label for="">NodeJs</label>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" style="width: 80%"></div>
                    </div>
                    <label for="">NestJs</label>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" style="width: 75%"></div>
                    </div>
                    <label for="">MongoDb</label>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" style="width: 70%"></div>
                    </div>
                </div>
                <hr>
                <div class="resume-langs">
                    <h4>Languages</h4>
                    <label for="">Arabic</label>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" style="width: 100%"></div>
                    </div>
                    <label for="">English</label>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" style="width: 75%"></div>
                    </div>
                    <label for="">French</label>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" style="width: 5%"></div>
                    </div>
                </div>
                <hr />
                <div class="resume-hobbies">
                    <h3>Hobbies</h3>
                    <span>Reading, Teaching</span>
                </div>
            </div>
            <!--------------- Side content ends -------------->
        </div>
        <!--------------- content ends -------------->
    </div>
</section>


<app-footer></app-footer>