<p-table [value]="data">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols">
                {{col.header}}
            </th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row let-columns="cols" let-i="rowIndex">
        <tr>
            <td *ngFor="let col of cols">
                <div *ngIf="col.subfield;then nested_object_content else normal_content"></div>
                <ng-template #nested_object_content>
                    <span *ngIf="col.field === 'employer'">
                        <a *ngIf="row?.employerType === 'USER'" [routerLink]="'/v/r/user/' + row?.employer?._id"
                            target="_blank">{{row[col.field][col.subfield]}}</a>
                        <a *ngIf="row?.employerType === 'COMPANY'" [routerLink]="'/v/c/user/' + row?.employer?._id"
                            target="_blank">{{row[col.field][col.subfield]}}</a>
                    </span>
                    <span *ngIf="col.field === 'user'">
                        <a [routerLink]="'/v/r/user/' + row?.user?._id"
                            target="_blank">{{row[col.field][col.subfield]}}</a>
                    </span>
                </ng-template>
                <ng-template #normal_content>
                    {{row[col.field]}}
                </ng-template>
            </td>
            <td>
                <button *ngIf="row.status === OfferStatus.IN_PROGRESS" class="btn btn-outline-success"
                    (click)="approve(row._id, i)">Approve</button>
                <button *ngIf="row.status === OfferStatus.IN_PROGRESS" class="btn btn-outline-danger"
                    (click)="openRejectDialog(i)">Reject</button>
                <button *ngIf="row.status === OfferStatus.IN_PROGRESS" class="btn btn-outline-warning"
                    (click)="ignore(row._id, i)">Ignore</button>
                <button *ngIf="row.status === OfferStatus.APPROVED" class="btn btn-outline-danger"
                    (click)="cancel(row._id, i)">Cancel</button>
                <button *ngIf="row.status === OfferStatus.APPROVED" class="btn btn-outline-success"
                    (click)="finish(row._id, i)">Finished</button>
                <a class="btn btn-outline-success"
                    [routerLink]="'/dashboard/home/offer/' + row._id">Details</a>
            </td>
        </tr>
    </ng-template>
</p-table>


<p-dialog header="Reject Offer" [(visible)]="displayRejectDialog" [breakpoints]="{'960px': '75vw'}"
    [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
    <textarea [(ngModel)]="tempRejectMessage" style="width: 100%;"></textarea>
    <ng-template pTemplate="footer">
        <button (click)="cancelReject()" class="btn btn-outline-secondary">Cancel</button>
        <button (click)="reject()" class="btn btn-outline-danger">Reject</button>
    </ng-template>
</p-dialog>