/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

@import 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Aldrich&display=swap';

* {
    font-family: 'Lato', 'Courier New', Courier, monospace;
}

.pi-btn {
    font-family: 'Ropa Sans', 'Lato', 'Courier New', Courier, monospace;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
    color: rgb(29, 33, 36);
    display: inline-flex;
    font-weight: bolder;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px;
    padding: 0px 20px;
    position: relative;
    text-decoration: none;
    z-index: 1;
    font-size: 17px;
    height: 42px;
    min-width: 42px;
    -webkit-appearance: button;
}

.pi-btn::after {
    background-color: rgb(198, 241, 109);
    border-color: rgb(198, 241, 109);
    border-radius: 50px;
    border-style: solid;
    border-width: 2px;
    color: rgb(29, 33, 36);
    box-sizing: border-box;
    content: "";
    cursor: pointer;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    transition-duration: 150ms;
    transition-property: transform, background-color;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    width: 100%;
    z-index: -1;
}

.pi-btn:hover::after {
    background-color: rgb(160, 212, 22);
    border-color: transparent;
    color: rgb(0, 0, 0) !important;
}

a:hover {
    color: #072a0d;
    cursor: pointer;
}
