.bg-light {
  background-color: rgba(248, 249, 250, 0.3) !important;
}

.active-nav-link {
  color: black !important;
  text-shadow: black 1px 1px 1px;
}

:host::ng-deep.p-menuitem-link-active {
  span {
    color: blue !important;
  }
}

.seen {
  color: #999999;
}

.unseen {
  color: #17a2b8;
}
