<!-- <p-menubar [model]="items" [style]="customStyle">
    <ng-template pTemplate="start">
        <img src="assets/imgs/logo.svg" height="45" width="45" class="p-mr-2">
    </ng-template>
    <ng-template pTemplate="end">
        <p-megaMenu *ngIf="ready" [model]="rightMenuItems"
            [style]="{'background': 'transparent', 'border': 'none'}">
            <span>
                <a *ngIf="!isLoggedin" class="pi-btn" routerLink="/register">Register</a>
                <a *ngIf="isLoggedin" class="pi-btn" (click)="logout()">Logout</a>
            </span>
        </p-megaMenu>
    </ng-template>
</p-menubar>
<p-toast position="top-right"></p-toast> -->

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <p-toast position="top-right"></p-toast>
        <img src="assets/imgs/logo.svg" width="45" height="45" alt="logo" style="margin-left: 25%;">
    </a>
    <button #collapseBtn class="navbar-toggler" type="button" (click)="collapseNav()">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div #nav class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto" style="width: 90%;">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active-nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/c/search" routerLinkActive="active-nav-link">Search</a>
            </li>
            <li class="nav-item"  *ngIf="isLoggedin && isEmployee">
                <a class="nav-link" routerLink="/e/search" routerLinkActive="active-nav-link">Companies</a>
            </li>
            <li *ngIf="isLoggedin && isEmployee">
                <a class="nav-link" routerLink="/e/profile" routerLinkActive="active-nav-link">Resume</a>
            </li>
            <li *ngIf="isLoggedin && isCompany">
                <a class="nav-link" routerLink="/c/profile" routerLinkActive="active-nav-link">Profile</a>
            </li>
            <li *ngIf="isLoggedin && isEmployee">
                <a class="nav-link" routerLink="/e/inbox" routerLinkActive="active-nav-link">Inbox</a>
            </li>
            <li *ngIf="isLoggedin && isCompany">
                <a class="nav-link" routerLink="/c/inbox" routerLinkActive="active-nav-link">Inbox</a>
            </li>
            <li *ngIf="isLoggedin && isCompany">
                <a class="nav-link" routerLink="/c/sent-offers" routerLinkActive="active-nav-link">Sent Offers</a>
            </li>
            <li *ngIf="isLoggedin && isEmployee">
                <a class="nav-link" routerLink="/e/sent-offers" routerLinkActive="active-nav-link">Sent Offers</a>
            </li>
        </ul>

        <span [hidden]="!isLoggedin" style="display: inline-flex;">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" (click)="notifSattus = !notifSattus">
                <span class="badge"><i class="pi pi-bell"></i>{{unseenCount}}</span>
            </a>
            <a *ngIf="!isLoggedin" class="pi-btn" routerLink="/register">Register</a>
            <a *ngIf="isLoggedin" class="pi-btn" (click)="logout()">Logout</a>
        </span>

        <div *ngIf="notifSattus" #notif class="dropdown-menu" style="top: 68%; right: 7%; display: block;">
            <span *ngFor="let item of notification; index as i">
                <a class="dropdown-item {{item.status === 'UNSEEN' ? 'unseen' : 'seen'}}"
                    (click)="markAsRead(item._id, i)"><i class="pi pi-circle-on"></i> {{item.label}}</a>
            </span>
        </div>
    </div>
</nav>