<app-navbar></app-navbar>

<section class="container resume">
    <div class="resume-wrapper">
        <div class="resume-pic-wrapper">
            <!-- <img class="resume-pic" src="assets/imgs/resume/resume-default-bg.jpg" alt="resume bg"> -->
        </div>
        <!--------------- Main header starts -------------->
        <div class="row resume-header">
            <div class="col-4 emp-photo-wrapper">
                <img class="emp-photo" [src]="data?.photo ? data.photo.url: 'assets/imgs/resume/resume-def-profile.svg'"
                    alt="profile photo" width="150">
            </div>
            <div class="col-6 col-md-6 main-info">
                <div class="name-wrapper">
                    <h2 class="name">
                        {{data?.name}}
                    </h2>
                </div>
                <div class="dev-title-wrapper">
                    <h4 class="dev-title">
                        {{data?.title}}
                    </h4>
                </div>
            </div>
            <div class="col-2">
                <button *ngIf="isLoggedIn" class="pi-btn" (click)="offer()">Offer</button>
            </div>
        </div>
        <!--------------- Main header ends ----------------->

        <!--------------- content starts -------------->
        <div class="row resume-content">
            <!--------------- Main content starts -------------->
            <div class="col-9 resume-main-content">
                <div class="resume-summary">
                    <h3>Summary</h3>
                    {{data?.summary}}
                </div>
                <hr>
                <div class="resume-availability">
                    <h3>Availability</h3>
                    <span>Available: {{data?.available}}</span>
                    <h6>Preferrable Work Type: <span *ngFor="let workType of data?.workType">{{workType}}; </span></h6>
                    <h6>Minimum Salary: {{data?.expectedPriceMin}}{{data?.expectedPriceCurrency}} for
                        {{data?.expectedPriceUnit}}</h6>
                </div>
                <hr>
                <div class="resume-experience">
                    <h3>Employment History</h3>
                    <span class="total-experience">Total: {{data?.totalExperience}} years</span>
                    <div *ngFor="let preWork of data?.employmentHistory">
                        <h4 class="employment-header">{{preWork.jobTitle}} ({{preWork.Employer}}) {{preWork.city}}
                        </h4>
                        <div class="employment-date">{{preWork.startDate | date}}-{{preWork.endDate | date}}</div>
                        <div class="responsibilities">{{preWork.description}}</div>
                    </div>
                </div>
                <hr>
                <div class="resume-edu" *ngIf="data?.education?.length > 0">
                    <h3>Education</h3>
                    <div *ngFor="let edu of data?.education">
                        <h4 class="employment-header">{{edu.Degree}}, {{edu.school}}, {{edu.city}}</h4>
                        <div class="employment-date">{{edu.startDate | date}} - {{edu.endDate | date}}</div>
                        <p>{{edu.description}}</p>
                    </div>
                </div>
                <hr>
                <div class="resume-courses" *ngIf="data?.courses?.length > 0">
                    <h3>Courses</h3>
                    <div *ngFor="let course of data?.courses">
                        <h4 class="employment-header"><a href="{{course.link}}"> {{course.name}}
                                ({{course.institution}})</a></h4>
                        <div class="employment-date">{{course.startDate | date}}-{{course.endDate| date}}</div>
                        <div class="responsibilities">{{course.description}}</div>
                    </div>
                </div>
                <hr>
                <div class="resume-projects" *ngIf="data?.projects?.length > 0">
                    <h3>Projects</h3>
                    <div *ngFor="let project of data?.projects">
                        <h4 class="employment-header"><a href="{{project.link}}"> {{project.title}}</a></h4>
                        <div class="employment-date">{{project.startDate | date}}-{{project.endDate | date}}</div>
                        <div class="responsibilities">{{project.description}}</div>
                    </div>
                </div>
                <hr>
                <div class="resume-references" *ngIf="data?.references">
                    <h3>References</h3>
                    <div *ngFor="let ref of data?.references">
                        <h4 class="employment-header">{{ref.name}} ({{ref.company}})</h4>
                        <div class="employment-date">{{ref.email}} - {{ref.phone}}</div>
                    </div>
                </div>
            </div>
            <!--------------- Main content ends -------------->

            <!--------------- Side content starts -------------->
            <div class="col-3 resume-side-content">
                <h4>Details</h4>
                <div class="resume-address">
                    <img src="assets/imgs/resume/map-pin.svg" alt="map pin" width="25">
                    {{data?.address}}, {{data?.city}}
                </div>
                <!-- <div class="resume-phone">
                    <img src="assets/imgs/resume/phone.svg" alt="phone" width="25">
                    {{data?.phone}}
                </div>
                <div class="resume-mail">
                    <img src="assets/imgs/resume/mail-message-new.svg" alt="mail" width="25">
                    {{data.email}}
                </div> -->
                <hr />
                <div class="resume-nationality">
                    <img src="assets/imgs/resume/flag.svg" alt="mail" width="25">
                    {{data?.nationality}}
                </div>
                <div class="resume-gender">
                    <img src="assets/imgs/resume/gender.svg" alt="gender" width="25">
                    {{data?.gender}}
                </div>
                <div class="resume-army-service">
                    <img src="assets/imgs/resume/army-s.svg" alt="army-service" width="50" style="margin-left: -2%;">
                    {{data?.armyServiceStatus}}
                </div>
                <div class="resume-birth">
                    <img src="assets/imgs/resume/owl-party.svg" alt="birth" width="25" style="margin-top: -10px;">
                    {{data?.birthDate}}
                </div>

                <hr>
                <div class="resume-links" *ngIf="data?.links?.length > 0">
                    <h4>Links</h4>
                    <div *ngFor="let link of data?.links">
                        <a href="{{link.value}}" target="_blank">{{link.label}}</a>
                    </div>
                </div>
                <hr>
                <div class="resume-skills" *ngIf="data?.skills?.length > 0">
                    <h4>Skills</h4>
                    <div *ngFor="let skill of data?.skills">
                        <label for="">{{skill.value}}</label>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" [style.width.%]="skill.expertLevelValue">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="resume-langs" *ngIf="data?.languages?.length > 0">
                    <h4>Languages</h4>
                    <div *ngFor="let lang of data?.languages">
                        <label for="">{{lang.value}}</label>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" [style.width.%]="lang.expertValue"></div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="resume-hobbies">
                    <h3>Hobbies</h3>
                    <span>{{data?.hobbies}}</span>
                </div>
            </div>
            <!--------------- Side content ends -------------->
        </div>
        <!--------------- content ends -------------->
    </div>
</section>


<app-footer></app-footer>